In [57]:
# importing necessary packages
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
  
# for holding the resultant list
element_list = []
element_list1 = []
element_list2 = []

for page in range(1,2,1):
    
    #reading the url of the product
    
    #page_url = "https://www.bigbasket.com/pd/40125359/vaseline-intensive-care-aloe-fresh-body-lotion-400-ml/?nc=sis-prod-list&t_pg=siscategory&t_p=sis-template-1&t_s=sis-prod-list&t_pos=2&t_ch=desktop/?page=" + str(page)
    #page_url ="https://www.bigbasket.com/product-reviews/40029010/nivea-cocoa-nourish-body-lotion-for-very-dry-skin-with-coconut-oil-cocoa-butter-for-men-women-400-ml/?page="+str(page)
    page_url ="https://www.bigbasket.com/pd/30007133/lakme-face-cream-complexion-care-30-g-beige/?nc=sis-prod-list&t_pg=siscategory&t_p=sis-template-1&t_s=sis-prod-list&t_pos=2&t_ch=desktop/?page="+str(page)
    driver = webdriver.Chrome(ChromeDriverManager().install())
    driver.get(page_url)
    
    # fetching the product xpath
    ratings=driver.find_elements("xpath","//div[@class='_2us4g']")
    comment=driver.find_elements("xpath","//div[@class='_1R8fN']")
    name=driver.find_elements("xpath","//div[@class='_1D1CC']")

    # append the list to the empty list
    for i in range(len(ratings)):
         
        element_list.append(ratings[i].text)
    
        element_list1.append(comment[i].text)
    
        element_list2.append(name[i].text)
    print(element_list)
    print(element_list1)
    print(element_list2)
    
    
#closing the driver
driver.close()

<ipython-input-57-7bb2641e1031>:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

['5', '4', '5', '5', '4']
["i'm using lakme since 1999, this product is absolutely genuine believe me it boost you your confidence level. thank you so much Lakshmi. I mean Lakme", 'product I bought for the first time. yet to use this Beauty product', 'Good like foundation', 'Nice product like it', 'satisfactory']
['anees begum, Visakhapatnam (12 months ago)\n3', 'Thenmoli Mohandass, Coimbatore (a year ago)\n2', 'S Sara, Hyderabad (12 months ago)\n1', 'Rupali, Chandigarh Tricity (a year ago)\n1', 'SRINIVASA MURTHY, Hyderabad (a year ago)\n0']

In [58]:
data1 = pd.DataFrame({'Rating':element_list,'Comment':element_list1,'Author_Details':element_list2})

In [59]:
data1.head()

,Rating,Comment,Author_Details
0,5,"i'm using lakme since 1999, this product is ab...","anees begum, Visakhapatnam (12 months ago)\n3"
1,4,product I bought for the first time. yet to us...,"Thenmoli Mohandass, Coimbatore (a year ago)\n2"
2,5,Good like foundation,"S Sara, Hyderabad (12 months ago)\n1"
3,5,Nice product like it,"Rupali, Chandigarh Tricity (a year ago)\n1"
4,4,satisfactory,"SRINIVASA MURTHY, Hyderabad (a year ago)\n0"

In [61]:
data1= data1.replace('\\n','', regex=True)
data1['Author_Details'] = data1.Author_Details.str.replace('\d+', '')
data1['Author_Details']=data1['Author_Details'].str.replace(r"\(.*\)","")

<ipython-input-61-632e17493105>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data1['Author_Details'] = data1.Author_Details.str.replace('\d+', '')
<ipython-input-61-632e17493105>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data1['Author_Details']=data1['Author_Details'].str.replace(r"\(.*\)","")

In [62]:
data1.head()

,Rating,Comment,Author_Details
0,5,"i'm using lakme since 1999, this product is ab...","anees begum, Visakhapatnam"
1,4,product I bought for the first time. yet to us...,"Thenmoli Mohandass, Coimbatore"
2,5,Good like foundation,"S Sara, Hyderabad"
3,5,Nice product like it,"Rupali, Chandigarh Tricity"
4,4,satisfactory,"SRINIVASA MURTHY, Hyderabad"

In [63]:
data1.shape

(5, 3)

In [27]:
#df=pd.read_csv(r"C:\Users\chaidc\Documents\CI_Box_Work\output\product_review_lakme_0902.csv")

In [28]:
#df.drop("Unnamed: 0", axis=1, inplace=True)

In [65]:
data1[['Name', 'Location']] = data1['Author_Details'].str.split(',', expand=True)

In [66]:
data1.head()

,Rating,Comment,Author_Details,Name,Location
0,5,"i'm using lakme since 1999, this product is ab...","anees begum, Visakhapatnam",anees begum,Visakhapatnam
1,4,product I bought for the first time. yet to us...,"Thenmoli Mohandass, Coimbatore",Thenmoli Mohandass,Coimbatore
2,5,Good like foundation,"S Sara, Hyderabad",S Sara,Hyderabad
3,5,Nice product like it,"Rupali, Chandigarh Tricity",Rupali,Chandigarh Tricity
4,4,satisfactory,"SRINIVASA MURTHY, Hyderabad",SRINIVASA MURTHY,Hyderabad

In [67]:
data1.to_csv(r"C:\Users\chaidc\Documents\CI_Box_Work\selenium_scraping\output\product_review_lakme_final_0902.csv")